<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GameWithMonsterList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C100B73E1F62AF0F0067152F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C100B7571F62AF100067152F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C100B7621F62AF100067152F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
